@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

body {
    background: #5e5c5c;
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

ul{
    display: flex;
    gap: 100px;
}

li{
    list-style: none;
}

.fa-brands{
    font-size: 40px;
    color: #262626;
    line-height: 60px;
    transition: 0.5s;
}

a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    transition-timing-function: linear;
    box-shadow: -20px 20xp 10px rgba(0, 0, 0, 0.5);
}

a:before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

a:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.85s;
    transform: rotate(0deg) skewX(-45deg);
}

a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

li:hover .fa-brands{
    color: #fff;
}

li:hover a{
    background: var(--clr0);
}

li:hover a:before{
    background: var(--clr1);
}

li:hover a:after{
    background: var(--clr2);
}