@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Figtree&display=swap);

body {
    height: 100vh;
    background: #5e5c5c;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.content {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 50px;
    text-align: left;
    margin-bottom: -10px;
    color: #fff;
}

p {
    text-align: left;
    margin-bottom: 50px;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}


nav a {
    display: flex;
    align-items: center;
    color: #fffefe;
    text-decoration: none;
    margin: 0 2px;
    font-family: "Figtree", sans-serif;
}

ul {
    display: flex;
    gap: 100px;
}

li {
    list-style: none;
}

.fa-brands {
    font-size: 40px;
    color: #262626;
    line-height: 60px;
    transition: 0.5s;
}

.box {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    transition-timing-function: linear;
    box-shadow: -20px 20xp 10px rgba(0, 0, 0, 0.5);
}

.box:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.box:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.85s;
    transform: rotate(0deg) skewX(-45deg);
}

.box:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

li:hover .fa-brands {
    color: #fff;
}

li:hover .box {
    background: var(--clr0);
}

li:hover .box:before {
    background: var(--clr1);
}

li:hover .box:after {
    background: var(--clr2);
}